In [1]:
#Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import gmaps
from api_keys import g_key

In [2]:
#File to load

file_to_load = "Resources/olist_data.csv"

In [3]:
#Read file and store into Pandas data frame
olist_data=pd.read_csv(file_to_load)

In [4]:
#Print Header
olist_data.head()

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,price,freight_value,product_category_name,Total_order_values,Total_freight_values,Total_Revenue_by_order,zip_code_prefix,seller_city,seller_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,product_category_name_english
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,cool_stuff,58.9,13.29,15.1599,27277,volta redonda,SP,-22.498183,-44.123614,volta redonda,RJ,cool_stuff
1,1,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,cool_stuff,58.9,13.29,15.1599,27277,volta redonda,SP,-22.487885,-44.131566,volta redonda,RJ,cool_stuff
2,2,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,cool_stuff,58.9,13.29,15.1599,27277,volta redonda,SP,-22.501227,-44.132443,volta redonda,RJ,cool_stuff
3,3,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,cool_stuff,58.9,13.29,15.1599,27277,volta redonda,SP,-22.500389,-44.124773,volta redonda,RJ,cool_stuff
4,4,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,cool_stuff,58.9,13.29,15.1599,27277,volta redonda,SP,-22.499963,-44.127571,volta redonda,RJ,cool_stuff

In [5]:
olist_data.shape

(16025551, 19)

### Performed some basic operations

In [ ]:
#Seller count Operation
Sellers_count = olist_data["seller_id"].unique()
len (Sellers_count)

In [ ]:
#Total Revenue Operation
Total_Revenue = round(olist_data["Total_Revenue_by_order"].sum(),2)
Total_Revenue

In [ ]:
#Max Revenue Operation
Max_Revenue = round(olist_data["Total_Revenue_by_order"].max(),2)
Max_Revenue

In [ ]:
#Min Revenue Operation
Min_Revenue = round(olist_data["Total_Revenue_by_order"].min(),2)
Min_Revenue

In [ ]:
#Average Revenue Operation
Average_Revenue = round(olist_data["Total_Revenue_by_order"].mean(),2)
Average_Revenue

In [ ]:
#Category number Operation
Category_count = olist_data["product_category_name_english"].unique()
len (Category_count)

In [ ]:
#Order Count Operation
Order_count = olist_data["order_id"].unique()
len (Order_count)

In [ ]:
#Number of Products Operation
Product_count = olist_data["product_id"].unique()
len(Product_count)

In [ ]:
#Average Items by order Operation
Average_items_by_order = round(olist_data["order_item_id"].mean(),2)
Average_items_by_order

## Summary Data Table

In [ ]:
#Display Summary table into a Data Frame 
Summary_df= pd.DataFrame({"Number of Sellers": [len (Sellers_count)],
                         "Number of Categories":[len (Category_count)],
                         "Total Unique Products":[len (Product_count)],
                         "Total Orders":[len (Order_count)],
                         "Average Items by Order":[Average_items_by_order],
                         "Total Revenue":[Total_Revenue],
                         "Average Revenue per Order":[Average_Revenue],
                         "Max Revenue per Order":[Max_Revenue],
                         "Min Revenue per Order":[Min_Revenue]
                         })
#Formatting
Summary_df["Number of Sellers"] = Summary_df["Number of Sellers"].map(" {:,.0f}".format)
Summary_df["Total Unique Products"] = Summary_df["Total Unique Products"].map(" {:,.0f}".format)
Summary_df["Total Orders"] = Summary_df["Total Orders"].map(" {:,.0f}".format)
Summary_df["Total Revenue"] = Summary_df["Total Revenue"].map("$ {:,.0f}".format)
Summary_df["Average Revenue per Order"] = Summary_df["Average Revenue per Order"].map("$ {:,.1f}".format)
Summary_df["Max Revenue per Order"] = Summary_df["Max Revenue per Order"].map("$ {:,.1f}".format)
Summary_df["Min Revenue per Order"] = Summary_df["Min Revenue per Order"].map("$ {:,.1f}".format)
Summary_df

## Revenue by Product Category

In [ ]:
#Display Data Frame of Revenue by product Category 
categories_group = olist_data.groupby("product_category_name_english").agg({
    "Total_Revenue_by_order":["sum","count","min","max","mean"]  
})
categories_group.columns=categories_group.columns.droplevel(0)
categories_group

In [ ]:
#Display Pie Graph of Top 10 Revenue by Category
categories_group.sort_values(by="sum",ascending=False).iloc[0:10].plot.pie(y="sum",figsize=(9.5, 9.5),startangle=140,autopct="%1.1f%%")

In [ ]:
categories_df = categories_group.sort_values(by='sum',ascending = False)

In [ ]:
#Display Boxplot to place average Revenue by category and visualize outlayers
fig1, ax1 = plt.subplots()
ax1.boxplot([categories_df["sum"]])
ax1.set_title('Revenue by Category')
ax1.set_ylabel('Revenue')
plt.show()

## Revenue by State

In [ ]:
#Display Data Frame of Revenue by State
cities_group = olist_data.groupby("geolocation_state").agg({
    "Total_Revenue_by_order":["sum","count","min","max","mean"],
    "geolocation_lat":"first",
    "geolocation_lng":"first"   
})
cities_group=cities_group.reset_index()
cities_group.columns=cities_group.columns.droplevel(0)
cities_group.columns=["State","Total Revenue","Total Orders","Min Revenue","Max Revenue","Mean Revenue","Geo Lat","Geo Lng"]
cities_group

In [ ]:
#Display Pie Graph of Top 10 Revenue by State
cities_group.sort_values(by="Total Revenue",ascending=False).iloc[0:10].plot.pie(y="Total Revenue",figsize=(9,9),startangle=180,autopct="%1.1f%%")
cities_df = cities_group.sort_values(by="Total Revenue",ascending=False)

In [ ]:
#Display Boxplot to place average Revenue by State and visualize outlayers
fig1, ax1 = plt.subplots()
plt.boxplot([cities_df["Total Revenue"]])
ax1.set_title('Revenue by State')
ax1.set_ylabel('Revenue')
plt.show()

## Sao Paulo Revenue

In [ ]:
#Segmentation of Olist Data by Geolocation State for Sao Paulo
sao_paulo_df=olist_data.query("geolocation_state=='SP'")
sao_paulo_df

In [ ]:
#Display Data Frame of Sao Paulo Revenue
SP_group = sao_paulo_df.groupby("product_category_name_english").agg({
    "Total_Revenue_by_order":["sum","count","min","max","mean"]})
SP_group

In [ ]:
#Display Pie Graph of Top 10 Category Products in Sao paulo
SP_group.columns = SP_group.columns.droplevel(0)
SP_group.sort_values(by="sum",ascending=False).iloc[0:10].plot.pie(y="sum",figsize=(9,9),startangle=180,autopct="%1.1f%%")
SP_group = SP_group.sort_values(by="sum",ascending=False)

In [ ]:
#Display Boxplot to place average Revenue by Category and visualize outlayers
fig1, ax1 = plt.subplots()
plt.boxplot([SP_group["sum"]])
ax1.set_title('Revenue by Category')
ax1.set_ylabel('Sao Paulo Revenue')
plt.show()

In [ ]:
Sellers_group = olist_data.groupby(['seller_id','product_category_name_english','geolocation_state'])["Total_Revenue_by_order"].sum()
Sellers_group_df=pd.DataFrame(Sellers_group)
Sellers_group_df=Sellers_group_df.sort_values(["Total_Revenue_by_order"], ascending=False).iloc[0:10]
Sellers_group_df["Total_Revenue_by_order"] = Sellers_group_df["Total_Revenue_by_order"].map("$ {:,.1f}".format)
Sellers_group_df

### Heat Map

In [ ]:
Top_10_Cities = cities_group.iloc[0:10]
Top_10_Cities

In [ ]:
gmaps.configure(api_key=g_key)
layout={
    "width":"800px",
    "height":"600px",
    "border":"1px solid black",
    "padding":"5px",
    "margin":"0 auto"
    
}
max_seller_lat=list(Top_10_Cities["geolocation_lat"])[0]
max_seller_lng=list(Top_10_Cities["geolocation_lng"])[0]
gmaps_fig=gmaps.figure(
    center=(max_seller_lat,max_seller_lng),
zoom_level=5,layout=layout)
locations= Top_10_Cities[["geolocation_lat","geolocation_lng"]]
markers=gmaps.marker_layer(Locations)
states=list(Top_10_Cities["geolocation_state"])
template="""
<dl>

<dt>State</dt><dd>{geolocation_state}</dd>
</dl>
"""
marker_layer=gmaps.marker_layer(locations,info_box_content=template,hover_text=states,display_info_box=True)
gmaps_fig.add_layer(markers)
gmaps_fig.add_layer(marker_layer)
gmaps_fig